[Desktop Entry]
Type=Service
X-KDE-PluginInfo-Author=luyikei
X-KDE-PluginInfo-Email=luyikei.qmltu@gmail.com
X-KDE-PluginInfo-Name=pi
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Icon=run
Name=calculate Pi

